.dreamSection
{
    height: 380px;
    background:  linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5) ),url('/assets/img/home.png' ) no-repeat center center / cover;
   }

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color:var(--white-color);
    h1{
        font-size: 70px;
        font-weight: 700;
        padding-bottom: 58px;
    }
      p{
        font-size: 30px;
        font-weight: 400;
    }
    }
@media screen and (max-width: 992px) {
    .description{
        text-align: center;
    h1{
        font-size: 30px;
        padding-bottom: 15px;
    }
      p{
        font-size: 15px;
    }
    }
}