/* .card {
    width: 504px;
    height: 341px;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    padding: 0 50px;
} */